/AST.class
/Define.class
/Difference.class
/Negation.class
/Normalize.class
/ParseError.class
/Power.class
/Product.class
/QuantityDB.class
/Quotient.class
/Sum.class
/Tokenizer.class
/Unicalc.class
/Value.class
/QuantityTester.class
/UnicalcTester.class
/ASTTester.class
